.logout__button {
    font-size: 15px;
    border-radius: 10px;
    font-weight: bold;
    color: black;
    background-color: rgba(255, 255, 255, 0.211);
    padding: 10px;
    border: 0;

}

.logout__button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.211);
}